/* File will contain styling for sign-in component */
.signin {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin: 10%;    
    color: #6C63FF;
    background: #F8F8F8;
}

.signin .signInForm .signinheader {
    padding: 25px 0;
}

.signin .signInForm .signinheader h2 {
    font-size: 35px;
    margin: 10px 0;
}

.signin .signInForm .signinheader p {
    font-size: 18px;
    margin: 10px 0;
}



/* styling for the image */

.signin .leftSignIn {
    width: 100%;
}

.signin .leftSignIn img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

/* styling for the form  */

.signinForm {
  width: 100%;
  padding:25px 0;
  background: #F8F8F8;
}

.signinForm form input {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
}

.signinForm form button {
  padding: 10px;
  width: 100%;
  background-color: #6C63FF;
  color: #fff;
  text-align: center;
  outline: none;
  border-radius: 12px;
  transition: 0.5s;
  margin: 5px 0;
}

.signInForm .google form button {
  padding: 10px;
  width: 100%;
  color: #6C63FF;
  text-align: center;
  outline: none;
  border-radius: 12px;
  transition: 0.5s;
}